<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                   <div align="center"><h2>Staff Login</h2></div> 

                    <form>

                        <div class="form-group">
                            <label for="username">
                                Username: 
                            </label>
                            <input id="username" type="text" class="form-control" formControlName="username">
                        </div>

                        <div class="form-group">
                            <label for="password">
                                Password: 
                            </label>
                            <input id="password" type="password" class="form-control" formControlName="password">
                        </div>

                        <div align="center">
                            <button class="button" type="submit" class="btn btn-primary">Login</button>
                        </div>
                        
                        <div align="center">
                            <a href="#" class="nav-item nav-link" routerLink="" routerLinkActive="active">Not part of the staff? Go back to the website.</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>