<app-navigation-menu></app-navigation-menu>

<div align="center"> <h3>{{element.name}} </h3></div>
<div align="center" *ngIf="userType=='adult'|| userType=='staff'">
    <button  class="btn btn-primary" (click)="register()">
        Register to this camp
    </button>
</div>

<mat-list role="list">
	<mat-list-item role="listitem"><h5 class="mb-1">Category: </h5> <p class="mb-1">{{element.category}}</p> </mat-list-item>
    <mat-list-item role="listitem"><h5 class="mb-1">Description: </h5> <p class="mb-1">{{element.description}}</p> </mat-list-item>
    <mat-list-item role="listitem"><h5 class="mb-1">Location: </h5> <p class="mb-1">{{element.location}}</p> </mat-list-item>
    <mat-list-item role="listitem"><h5 class="mb-1">Period: </h5> <p class="mb-1"> starting on {{element.startDate}}, ending on {{element.endDate}} ({{element.duration}} days in total)</p> </mat-list-item>
    <mat-list-item role="listitem"><h5 class="mb-1">Ages: </h5> <p class="mb-1">between {{element.minAge}} and {{element.maxAge}}</p> </mat-list-item>
    <mat-list-item role="listitem"><h5 class="mb-1">Schedule: </h5> <p class="mb-1">{{element.schedule}}</p> </mat-list-item>
    <mat-list-item role="listitem"><h5 class="mb-1">Required equipment: </h5> <p class="mb-1">{{element.requiredEquipment}}</p> </mat-list-item>
    <mat-list-item role="listitem"><h5 class="mb-1">Price: </h5> <p class="mb-1">{{element.price}}</p> </mat-list-item>
    <mat-list-item role="listitem"><h5 class="mb-1">Number of participants: </h5> <p class="mb-1">{{element.capacity}}</p> </mat-list-item>
</mat-list>



