<app-navigation-menu></app-navigation-menu>

<div align="right" [ngStyle]="{'margin-right': userType!='child' ? '80px' : (userType=='child' ? '150px' : null),'margin-top': userType!='child' ? '10px' : (userType=='child' ? '10px' : null)}">
<mat-form-field [style.width.px]=200>
    <mat-label for="category" style="color: rgb(26, 168, 161)"> Filter by category: </mat-label>
    <mat-select  [(ngModel)]="selectedCategory" (selectionChange)="fetchData()">
        <mat-option *ngFor="let category of categories" [value]="category">
            <div [ngStyle]="{'font-weight': category.match('all') ? '500' : 'normal'}">
            
            <img src="assets/images/language.jpg" *ngIf="category.match('language') && userType=='child'" style="height:44px; width:auto;" >
            <img src="assets/images/dance.jpeg" *ngIf="category.match('dance') && userType=='child'" style="height:42px; width:auto;">
            <img src="assets/images/cooking.jpg" *ngIf="category.match('cooking') && userType=='child'" style="height:50px; width:auto;">
            <img src="assets/images/biking.jpg" *ngIf="category.match('biking') && userType=='child'" style="height:50px; width:auto;">
            <img src="assets/images/hiking.jpg" *ngIf="category.match('hiking') && userType=='child'" style="height:50px; width:auto;">
            <img src="assets/images/horseriding.jpg" *ngIf="category.match('horseriding') && userType=='child'" style="height:50px; width:auto;">
            <img src="assets/images/swimming.jpg" *ngIf="category.match('swimming') && userType=='child'" style="height:50px; width:auto;">
             {{category}}
             </div>

        </mat-option>
    </mat-select>
</mat-form-field>
</div>

<div>
    <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <button onclick="window.scrollBy(0, -100)" style="left:92.5%; top: 17%;     width:100px;
    position: fixed;
    z-index: 2;
    border-radius: 50%;
    outline: none;
    background-color:  mintcream;
    color:rgb(26, 168, 161);" *ngIf="userType=='child'">
        <mat-icon>arrow_upward</mat-icon> <br> scroll
    </button>

    <button onclick="window.scrollBy(0, 100)" style="left:92.5%; top: 85%;     width:100px;
    position: fixed;
    z-index: 2;
    border-radius: 50%;
    outline: none;
    background-color:  mintcream;
    color:rgb(26, 168, 161);" *ngIf="userType=='child'">scroll <br>
        <mat-icon>arrow_downward</mat-icon>
    </button>

    <table mat-table [dataSource]="campItems" matSort class="mat-elevation-z8"
        [ngStyle]="{'margin-left': userType!='child' ? 'auto' : (userType=='child' ? '' : null) , 'margin-right' : userType!='child' ? 'auto' : (userType=='child' ? '' : null) }">

        <!-- Image Column  -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> <img
                    src={{chooseImage(element.category)}}> </td>
        </ng-container>

        <!-- Name Column  -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Camp name </th>
            <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> {{element.name}} </td>
        </ng-container>

        <!-- Category Column  -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> {{element.category}} </td>
        </ng-container>

        <!-- Location Column  -->
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> {{element.location}} </td>
        </ng-container>

        <!-- StartDate Column  -->
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Start date </th>
            <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> {{element.startDate}}
            </td>
        </ng-container>

        <!-- Duration Column  -->
        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef> Duration </th>
            <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> {{element.duration}} days
            </td>
        </ng-container>

        <!-- MinAge Column  -->
        <ng-container matColumnDef="ages">
            <th mat-header-cell *matHeaderCellDef> Ages </th>
            <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> {{element.minAge}} -
                {{element.maxAge}} </td>
        </ng-container>

        <!-- Register Column  -->
        <ng-container matColumnDef="register" *ngIf="userType=='adult'|| user">
            <th mat-header-cell *matHeaderCellDef> Register </th>
            <td mat-cell *matCellDef="let element"> <a class="register" routerLink="/addRegistration/{{element.id}}"
                    routerLinkActive="active">
                    <mat-icon>group_add</mat-icon>
                </a> </td>
        </ng-container>

        <!-- Edit Column  -->
        <ng-container matColumnDef="edit" *ngIf="user && isAdmin">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element"> <a class="edit" routerLink="/editCamp/{{element.id}}"
                    routerLinkActive="active">
                    <mat-icon>edit</mat-icon>
                </a> </td>
        </ng-container>

        <!-- View registrations Column  -->
        <ng-container matColumnDef="registeredKids" *ngIf="user">
            <th mat-header-cell *matHeaderCellDef> Registrations </th>
            <td mat-cell *matCellDef="let element"> <a class="edit" routerLink="/registrationsForCamp/{{element.id}}"
                    routerLinkActive="active">
                    <mat-icon>group</mat-icon>
                </a> </td>
        </ng-container>

        <ng-container matColumnDef="delete" *ngIf="user && isAdmin">
            <th mat-header-cell *matHeaderCellDef>
                Remove</th>
            <td mat-cell *matCellDef="let element;">
                <button mat-icon-button matTooltip="Delete" (click)="deleteCamp(element.id,element.name)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <br><br>

</div>