table {
    width: 90%;
    text-align:center;
  }

  th.mat-header-cell{
    text-align:center;
    
}

.adultTable{
margin-left: auto;
margin-right: auto;
}

.childTable{
    margin-right: auto;
}

tr.mat-row:hover {
    background: rgb(197, 193, 193);
  }

img {
    border-radius: 8px;
    width: 150px;
  }
