<app-navigation-menu></app-navigation-menu>

<div>
<div class="spinner-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<table mat-table [dataSource]="campItems" matSort class="mat-elevation-z8" [ngStyle]="{'margin-left': userType!='child' ? 'auto' : (userType=='child' ? '' : null) , 'margin-right' : userType!='child' ? 'auto' : (userType=='child' ? '' : null) }">

    <!-- Image Column  -->
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef > Image </th>
        <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> <img src={{chooseImage(element.category)}}> </td>
    </ng-container>

    <!-- Name Column  -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Camp name </th>
        <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> {{element.name}} </td>
    </ng-container>

    <!-- Category Column  -->
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> {{element.category}} </td>
    </ng-container>

    <!-- Location Column  -->
    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> {{element.location}} </td>
    </ng-container>

    <!-- StartDate Column  -->
    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start date </th>
        <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> {{element.startDate}} </td>
    </ng-container>

    <!-- Duration Column  -->
    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> {{element.duration}} days </td>
    </ng-container>

      <!-- MinAge Column  -->
      <ng-container matColumnDef="ages">
        <th mat-header-cell *matHeaderCellDef> Ages </th>
        <td mat-cell *matCellDef="let element" (click)="showCampDetails(element.id)"> {{element.minAge}} - {{element.maxAge}} </td>
    </ng-container>

    <!-- Register Column  -->
    <ng-container matColumnDef="register" *ngIf="userType=='adult'|| user">
        <th mat-header-cell *matHeaderCellDef> Register </th>
        <td mat-cell *matCellDef="let element"> <a class="register" routerLink="/addRegistration/{{element.id}}" routerLinkActive="active"><mat-icon>group_add</mat-icon></a> </td>
    </ng-container>

    <!-- Edit Column  -->
    <ng-container matColumnDef="edit" *ngIf="user && isAdmin" >
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"> <a class="edit" routerLink="/editCamp/{{element.id}}" routerLinkActive="active"><mat-icon>edit</mat-icon></a> </td>
    </ng-container>

    <!-- View registrations Column  -->
    <ng-container matColumnDef="registeredKids" *ngIf="user">
        <th mat-header-cell *matHeaderCellDef> Registrations </th>
        <td mat-cell *matCellDef="let element"> <a class="edit" routerLink="/registrationsForCamp/{{element.id}}" routerLinkActive="active"><mat-icon>group</mat-icon></a> </td>
    </ng-container>

    <ng-container matColumnDef="delete" *ngIf="user && isAdmin">
        <th mat-header-cell *matHeaderCellDef>
          Remove</th>
        <td mat-cell *matCellDef="let element;">
          <button  mat-icon-button matTooltip="Delete" (click)="deleteCamp(element.id,element.name)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
</table>

</div>