<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="nav-item nav-link" routerLink="" routerLinkActive="active">ChangeUserType</a>
    <a class="nav-item nav-link" routerLink="/homePage" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link" routerLink="/companyDetails" routerLinkActive="active">About us</a>
    <a class="nav-item nav-link" routerLink="/campsList" routerLinkActive="active">Our camps</a>

    <a class="nav-item nav-link" routerLink="/staffList" routerLinkActive="active">Staff list</a>

    <a class="nav-item nav-link" routerLink="addStaff" routerLinkActive="active">Add new employee</a>
    <a class="nav-item nav-link" routerLink="/addCamp" routerLinkActive="active">Add new camp</a>

    <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
    <a class="nav-item nav-link" routerLink="" routerLinkActive="active">Log out</a>

    </nav>
</div>
